---
import Base from '../../layouts/Base.astro';
import { withBase } from '../../utils/url';
---
<Base
  title="Kontakty · Startovací Hub Klecany"
  description="OSA II z.s. provozuje Hub. Marek Semerád předseda, rezervační oddělení, koordinátor stipendií, tiskový kontakt.">
  <article class="page-stub">
    <p class="page-stub__eyebrow">Sekce</p>
    <h1>Kontakty</h1>
    <p class="page-stub__lede">
      Hub provozuje Občanské sdružení Alternativa II, z.s. Předseda Marek Semerád, rezervační oddělení,
      koordinátor stipendií, tiskový kontakt. Telefonní čísla doplníme po Markovo dodání.
    </p>
    <p class="page-stub__note">Plnou stránku doplňujeme</p>
    <p class="page-stub__links">
      <a href="mailto:vpd@osa2.cz">vpd@osa2.cz</a>
      <a href="https://www.alternativa2.info/" rel="noopener">alternativa2.info</a>
    </p>
  </article>
</Base>
